@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
}
p {
	margin: 0 0 20px 0;
}
img {
	border: 0;
}
a {
	color: #082B47;
}
a:hover {
	color: #D6431B;
}
header h1 a {
	display: inline-block;
}
header h1 a img {
	vertical-align: bottom;
}
#contents {
	overflow: hidden;
}
#sub ul {
	list-style-type: none;
	padding: 0;
}
#sub ul li a{
	display: block;
	height: 0;
	padding-top: 60px;
	overflow: hidden;
}
#sub ul li.bnr_inner a{
	background-image: url(../images/bnr_contact.png);
}
#sub ul li.bnr_inner a:hover{
	background-position-y: -60px;
}
#sub ul li.bnr_inner a:active{
	background-position-y: -120px;
	transform: rotate(-1gitdeg);
	transition: transform 2s linear;
}
#copyright {
	margin-bottom: 15px;
	text-align: center;
}
#copyright small {
	font-size: 100%;
}