@charset "utf-8";

header, nav, #contents, #main, #sub, footer {
	width: 451px;
}
nav ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}
nav ul li#nav_schedule,
nav ul li#nav_ruby,
nav ul li#nav_sinatra,
nav ul li#nav_else {
	width: 225px;
}
nav ul li#nav_schedule,
nav ul li#nav_sinatra {
	border: 1px solid #FFFFFF;
	border-top: none;
	border-left: none;
}
nav ul li#nav_ruby,
nav ul li#nav_else {
	border: 1px solid #FFFFFF;
	border-top: none;
	border-right: none;
	border-left: none;
}
nav ul li#nav_schedule a,
nav ul li#nav_ruby a,
nav ul li#nav_sinatra a,
nav ul li#nav_else a {
	height: 44px;
	margin-bottom: 0px;
	padding-top: 0px;
	background: #156BB2 none;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	line-height: 3;
}
nav ul li#nav_schedule a:hover,
nav ul li#nav_schedule a:hover,
nav ul li#nav_sinatra a:hover,
nav ul li#nav_else a:hover {
	background-color: #9ACEE7;
}
#schedule #contents ul li {
	padding: 20px 0 12px 0;
	text-indent: 0;
}
#schedule #contents time {
	margin-bottom: 10px;
}
#main, #sub {
	padding: 0;
	float: none;
}
#main .lesson_box h1,
#main .lesson_box img,
#main .lesson_box p {
	float: unset;
	padding-bottom: 5px;
}
#main .lesson_box img,
#main .lesson_box p {
	display: block;
	margin: 0 auto;
}
#main .lesson_box h1 {
	width: 100%;
}
#main .lesson_box img {
	padding-bottom: 5px;
}
footer {
	padding-top: 30px;
}
footer p {
	float: none;
}
