@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
	background-color: #FFFFFF;
	color: #082B47;
}
p {
	margin: 0 0 20px 0;
}
img {
	border: 0;
}
a {
	color: #082B47;
}
a:hover {
	color: #D6431B;
}
header h1 a {
	display: inline-block;
}
header h1 a img {
	vertical-align: bottom;
}
header, nav, #contents, footer {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}
header h1 {
	margin: 0 0 26px 0;
	padding-top: 28px;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding-left: 0;
	overflow: hidden;
}
nav ul li {
	width: 210px;
	float: left;
}
nav ul li a {
	display: block;
	height: 0;
	padding-top: 44px;
	overflow: hidden;
}
nav ul li#nav_schedule a {
	background-image: url(../images/nav1.png);
}
nav ul li#nav_ruby a {
	background-image: url(../images/nav2.png);
}
nav ul li#nav_sinatra a {
	background-image: url(../images/nav3.png);
}
nav ul li#nav_else a {
	background-image: url(../images/nav4.png);
}
#schedule #nav_schedule a, #ruby #nav_ruby a, #sinatra #nav_sinatra a, #else #nav_else a, nav ul li a:hover {
	background-position: 0 -45px;
}
#contents {
	overflow: hidden;
}
#main {
	width: 570px;
	float: left;
}
#main h1 {
	margin: 0 0 30px 0;
	padding: 35px 0 35px 65px;
	background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, left bottom;
	font-size: 156.25%;
}
#sub {
	padding-top: 100px;
	width: 230px;
	float: right;
}
#sub ul {
	list-style-type: none;
	padding: 0;
}
#sub ul li a{
	display: block;
	height: 0;
	padding-top: 60px;
	overflow: hidden;
}
#sub ul li.bnr_inner a{
	background-image: url(../images/bnr_contact.png);
}
#sub ul li.bnr_inner a:hover{
	background-position-y: -60px;
}
#sub ul li.bnr_inner a:active{
	background-position-y: -120px;
	transform: rotate(-1gitdeg);
	transition: transform 2s linear;
}
footer {
	padding-top: 70px;
	background-image: url(../images/bg_bottom.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#copyright {
	margin-bottom: 15px;
	text-align: center;
}
#copyright small {
	font-size: 100%;
}
/* 基本レイアウト ここまで↑ */

/* 「スケジュール」ページ ここから↓ */
#schedule #main ul {
	list-style-type: none;
	padding-left: 0;
	height: 500px;
	overflow: scroll;
}
#schedule #main ul li {
	padding: 20px 0 20px 175px;
	border-bottom: 1px dotted #156BB2;
	color: #082B47;
	text-indent: -175px;
}
/* 「スケジュール」ページ ここまで↑ */

/* 「Ruby」「Sinatra」「その他資料」ページ ここから↓ */
#main .lesson_box {
    overflow: hidden;
    margin-bottom: 30px;
}
#main .image_left {
    float: left;
    margin-right: 25px;
}
#main .lesson_box h1,
#main .lesson_box p {
	margin: 0 0 5px 0;
    float: right;
    width: 270px;
}
#main .lesson_box h1 {
	padding: 10px 0 10px 24px;
	background-image: url(../images/bg_h2_head.png), url(../images/bg_bottom.png);
	font-size: 112.5%;
}
#main .lesson_box img:hover {
	opacity: 0.5;
}
#main .lesson_box:last-child,
#main .lesson_box p:last-child {
    margin-bottom: 0;
}
/* 「Ruby」「Sinatra」「その他資料」ページ　ここまで↑ */