@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);
body {
	background-color: #FFFFFF;
	color: #082B47;
}
header, nav, #breadcrumb, #contents, footer {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}
header h1 {
	margin: 0 0 26px 0;
	padding-top: 28px;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding-left: 0;
	overflow: hidden;
}
nav ul li {
	width: 210px;
	float: left;
}
nav ul li a {
	display: block;
	height: 0;
	padding-top: 44px;
	overflow: hidden;
}
nav ul li#nav_staff a {
	background-image: url(../images/nav1.png);
}
nav ul li#nav_schedule a {
	background-image: url(../images/nav2.png);
}
nav ul li#nav_materials a {
	background-image: url(../images/nav3.png);
}
nav ul li#nav_contact a {
	background-image: url(../images/nav4.png);
}
#main {
	width: 570px;
	float: left;
}
#sub {
	width: 230px;
	float: right;
}
#main h1 {
	margin: 0 0 30px 0;
	padding: 35px 0 35px 65px;
	background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, left bottom;
	font-size: 156.25%;
}
#staff #nav_staff a, #schedule #nav_schedule a, #materials #nav_materials a, #contact #nav_contact a, nav ul li a:hover {
	background-position: 0 -45px;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
/* トップページ ここまで↑ */

/* 「スタッフ一覧」ページ ここから↓ */
#news ul {
	list-style-type: none;
	padding-left: 0;
	height: 500px;
	overflow: scroll;
}
#news ul li {
	padding: 20px 0 20px 175px;
	border-bottom: 1px dotted #156BB2;
	color: #082B47;
	text-indent: -175px;
}
/* 「スタッフ一覧」ページ ここまで↑ */

/* 「13期スケジュール」ページ ここから↓ */
table thead tr th {
	background-color: #9ACEE7;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
/* 「13期スケジュール」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */
.gallery_box figure {
	width: 180px;
	margin: 0 0 15px 15px;
	float: left;
}
.gallery_box figure:first-child {
	margin-left: 0;
}
/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
input[type="text"] {
	width: 200px;
}
input[type="email"] {
	width: 300px;
}
/* 「お問い合わせ」ページ ここまで↑ */
